services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/init:/docker-entrypoint-initdb.d:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 30
    restart: unless-stopped

  lightwms:
    build:
      context: ..
      dockerfile: deploy/Dockerfile
    environment:
      ASPNETCORE_URLS: http://0.0.0.0:8080

      # Переключатель провайдера (позже добавим в коде)
      LIGHTWMS_DB_PROVIDER: postgres
      LIGHTWMS_PG_HOST: postgres
      LIGHTWMS_PG_PORT: 5432
      LIGHTWMS_PG_DB: ${POSTGRES_DB}
      LIGHTWMS_PG_USER: ${POSTGRES_USER}
      LIGHTWMS_PG_PASSWORD: ${POSTGRES_PASSWORD}

      LIGHTWMS_TSD_ROOT: /app/tsd
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - "${LIGHTWMS_PORT:-8080}:8080"
    restart: unless-stopped

volumes:
  pgdata:
